TIKMAKER_AI_PATH=C:\ig-tiktok-yt\TikMaker\ai
TIKMAKER_PROPS_PATH=C:\ig-tiktok-yt\TikMaker\props
TIKMAKER_SFX_PATH=C:\ig-tiktok-yt\TikMaker\sfx
TIKMAKER_FONTS_PATH=C:\ig-tiktok-yt\code-video\public\fonts
